In [2]:
import csv

In [3]:
csv_file_path = "D:/work/python/data/students.csv"

In [39]:
# to read the csv file 
f = open(csv_file_path, mode="r")
csv_reader = csv.reader(f)

In [40]:
for a in csv_reader:
    print(a)
    #print(type(a))

['id', 'name', 'marks']
['1', 'anil', '11.11']
['2', 'bharath', '22.22']
['3', 'chandu', '33.33']
['4', 'david', '44.44']
['5', 'eswar', '55.55']

In [41]:
sample_data = """id,name,marks
1,anil,11.11
2,bharath,22.22
3,chandu,33.33
4,david,44.44
5,eswar,55.55"""

In [70]:
sample_list = sample_data.split("\n")
print(sample_list)

['id,name,marks', '1,anil,11.11', '2,bharath,22.22', '3,chandu,33.33', '4,david,44.44', '5,eswar,55.55']

In [78]:
for line in sample_list:
    #print(line)
    print(line.split(","))

['id', 'name', 'marks']
['1', 'anil', '11.11']
['2', 'bharath', '22.22']
['3', 'chandu', '33.33']
['4', 'david', '44.44']
['5', 'eswar', '55.55']

In [118]:
sample_rows = [line.split(",") for line in sample_list]

In [100]:
for row in sample_rows:
    print(row)

['id', 'name', 'marks']
['1', 'anil', '11.11']
['2', 'bharath', '22.22']
['3', 'chandu', '33.33']
['4', 'david', '44.44']
['5', 'eswar', '55.55']

In [82]:
target_csv_filepath = "D:/work/python/data/employee.csv"
with open(target_csv_filepath, mode="w", newline="") as f:
    csv_writer = csv.writer(f)
    for row in rows:
        csv_writer.writerow(row)

In [86]:
input_csv_filepath = "D:/work/python/data/employee.csv"
with open(input_csv_filepath, mode="r") as f:
    rows = csv.reader(f)
    for row in rows:
        print(row)

['id', 'name', 'marks']
['1', 'anil', '11.11']
['2', 'bharath', '22.22']
['3', 'chandu', '33.33']
['4', 'david', '44.44']
['5', 'eswar', '55.55']

In [85]:
input_csv_filepath = "D:/work/python/data/employee.csv"
with open(input_csv_filepath, mode="r") as f:
    rows = csv.reader(f)
    for row in rows:
        print(row)

['id', 'name', 'marks']
['1', 'anil', '11.11']
['2', 'bharath', '22.22']
['3', 'chandu', '33.33']
['4', 'david', '44.44']
['5', 'eswar', '55.55']

In [87]:
input_csv_filepath = "D:/work/python/data/employee.csv"
with open(input_csv_filepath, mode="r") as f:
    rows = csv.DictReader(f)
    for row in rows:
        print(row)

{'id': '1', 'name': 'anil', 'marks': '11.11'}
{'id': '2', 'name': 'bharath', 'marks': '22.22'}
{'id': '3', 'name': 'chandu', 'marks': '33.33'}
{'id': '4', 'name': 'david', 'marks': '44.44'}
{'id': '5', 'name': 'eswar', 'marks': '55.55'}

In [88]:
output_file = "D:/work/python/data/candidates.csv"
data = [
    {"emp_id": 101, "name": "Sam", "salary": 45000},
    {"emp_id": 102, "name": "Lisa", "salary": 52000},
    {"emp_id": 103, "name": "Mike", "salary": 61000}
]

with open(output_file, "w", newline="") as f:
    fieldnames = ["emp_id", "name", "salary"]
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for entry in data:
        writer.writerow(entry)

print("CSV File Created:", output_file)

CSV File Created: D:/work/python/data/candidates.csv

In [90]:
csv.QUOTE_MINIMAL

0

In [89]:
csv.QUOTE_ALL

1

In [93]:
csv.QUOTE_NONNUMERIC

2

In [92]:
csv.QUOTE_NONE

3

In [91]:
csv.QUOTE_STRINGS

4

In [98]:
rows

In [107]:
sample_rows

[['id', 'name', 'marks'],
 ['1', 'anil', '11.11'],
 ['2', 'bharath', '22.22'],
 ['3', 'chandu', '33.33'],
 ['4', 'david', '44.44'],
 ['5', 'eswar', '55.55']]

In [105]:
target_csv_filepath = "D:/work/python/data/employee.csv"
with open(target_csv_filepath, mode="w", newline="") as f:
    csv_writer = csv.writer(f, quoting=csv.QUOTE_STRINGS)
    for row in sample_rows:
        csv_writer.writerow(row)

In [119]:
sample_rows

[['id', 'name', 'marks'],
 ['1', 'anil', '11.11'],
 ['2', 'bharath', '22.22'],
 ['3', 'chandu', '33.33'],
 ['4', 'david', '44.44'],
 ['5', 'eswar', '55.55']]

In [120]:
header = sample_rows[0] 
print(header)

['id', 'name', 'marks']

In [122]:
data = sample_rows[1:]
for row in data:
    print(row)

['1', 'anil', '11.11']
['2', 'bharath', '22.22']
['3', 'chandu', '33.33']
['4', 'david', '44.44']
['5', 'eswar', '55.55']

In [124]:
final_data = [[int(row[0]), row[1], float(row[2])] for row in data]

In [125]:
header

['id', 'name', 'marks']

In [134]:
header

['id', 'name', 'marks']

In [126]:
final_data

[[1, 'anil', 11.11],
 [2, 'bharath', 22.22],
 [3, 'chandu', 33.33],
 [4, 'david', 44.44],
 [5, 'eswar', 55.55]]

In [137]:
final_rows = []

In [138]:
final_rows.append(header)

In [139]:
for row in final_data:
    final_rows.append(row)

In [140]:
final_rows

[['id', 'name', 'marks'],
 [1, 'anil', 11.11],
 [2, 'bharath', 22.22],
 [3, 'chandu', 33.33],
 [4, 'david', 44.44],
 [5, 'eswar', 55.55]]

In [143]:
target_csv_filepath = "D:/work/python/data/employee.csv"
with open(target_csv_filepath, mode="w", newline="") as f:
    csv_writer = csv.writer(f, quoting=csv.QUOTE_NONE)
    for row in final_rows:
        csv_writer.writerow(row)

In [ ]:
# list comprehension
# list append 
# list extend
# list concatenation