In [11]:
csv_file_path = "D:\\work\\python\\data\\students.csv"

In [22]:
with open(csv_file_path, mode="r") as f:
    header = f.readline()

In [25]:
header

'id,name,marks\n'

In [27]:
header.replace("\n", "")

'id,name,marks'

In [28]:
header.replace("\n", "").split(",")

['id', 'name', 'marks']

In [30]:
columns_list = header.replace("\n", "").split(",")

In [31]:
for column in columns_list: 
    print(column)

id
name
marks

In [32]:
with open(csv_file_path, mode="r") as f:
    lines = f.readlines()

In [169]:
class Student:
    def __init__(self, id, name, marks):
        self.id = id 
        self.name = name 
        self.marks = marks

    def __str__(self):
        return f"id={self.id}, name={self.name}, marks={self.marks}"
        
    def __lt__(self, other):
        return self.marks < other.marks
        
    def __eq__(self, other):
        return self.marks == other.marks

    def __repr__(self):
        return f"Student(id={self.id}, name={self.name}, marks={self.marks})"

In [129]:
lines

['id,name,marks\n',
 '1,anil,11.11\n',
 '2,bharath,22.22\n',
 '3,chandu,33.33\n',
 '4,david,44.44\n',
 '5,eswar,55.55\n']

In [74]:
header = lines[0].replace("\n", "")

In [75]:
print(header)

id,name,marks

In [76]:
data = lines[1:]

In [79]:
data

['1,anil,11.11\n',
 '2,bharath,22.22\n',
 '3,chandu,33.33\n',
 '4,david,44.44\n',
 '5,eswar,55.55\n']

In [81]:
for line in data:
    print(line.replace("\n", ""))

1,anil,11.11
2,bharath,22.22
3,chandu,33.33
4,david,44.44
5,eswar,55.55

In [85]:
[line for line in data]

['1,anil,11.11\n',
 '2,bharath,22.22\n',
 '3,chandu,33.33\n',
 '4,david,44.44\n',
 '5,eswar,55.55\n']

In [130]:
records = [line.replace("\n", "") for line in data]

In [133]:
print(records)

['1,anil,11.11', '2,bharath,22.22', '3,chandu,33.33', '4,david,44.44', '5,eswar,55.55']

In [132]:
record = "1,anil,11.11"

In [113]:
parts = record.split(",")
print(f"parts={parts}")

parts=['1', 'anil', '11.11']

In [114]:
id = int(parts[0])

In [115]:
name = parts[1]

In [116]:
marks = float(parts[2])

In [134]:
students_list = []

for record in records:
    #print(record)
    parts = record.split(",")
    id = int(parts[0])
    name = parts[1]
    marks = float(parts[2])
    s = Student(id, name, marks)
    #print(s)
    students_list.append(s)

In [135]:
len(students_list)

5

In [136]:
students_list

[Student(id=1, name=anil, marks=11.11),
 Student(id=2, name=bharath, marks=22.22),
 Student(id=3, name=chandu, marks=33.33),
 Student(id=4, name=david, marks=44.44),
 Student(id=5, name=eswar, marks=55.55)]

In [144]:
list(filter(lambda x:x.name=="chandu" , students_list))[0]

Student(id=3, name=chandu, marks=33.33)

In [140]:
my_student = None
for s in students_list:
    if s.name == "chandu":
        my_student = s
        break

In [143]:
my_student

Student(id=3, name=chandu, marks=33.33)

In [150]:
my_student = [student for student in students_list if student.name == "chandu"][0]

In [151]:
my_student

Student(id=3, name=chandu, marks=33.33)

In [152]:
print(my_student.marks)

33.33

In [153]:
max(10, 20, 30)

30

In [155]:
numbers = [10, 20, 30]

In [156]:
max(numbers)

30

In [157]:
students_list

[Student(id=1, name=anil, marks=11.11),
 Student(id=2, name=bharath, marks=22.22),
 Student(id=3, name=chandu, marks=33.33),
 Student(id=4, name=david, marks=44.44),
 Student(id=5, name=eswar, marks=55.55)]

In [160]:
max(students_list)

Student(id=5, name=eswar, marks=55.55)

In [164]:
s1 = students_list[0]
s5 = students_list[-1]

In [165]:
s1

Student(id=1, name=anil, marks=11.11)

In [166]:
s5

Student(id=5, name=eswar, marks=55.55)

In [167]:
s1 > s5

False

In [168]:
s5 > s1

True

In [174]:
# my target is create students.json with the help of students.csv 
s1.__dict__

{'id': 1, 'name': 'anil', 'marks': 11.11}

In [175]:
target_json_file = "D:/work/python/data/students.json"

In [188]:
str1 = "Hi"
str2 = "Hello"
str3 = "Bye"

str_list = [str1, str2, str3]

",".join(str_list)

'Hi,Hello,Bye'

In [189]:
students_list

[Student(id=1, name=anil, marks=11.11),
 Student(id=2, name=bharath, marks=22.22),
 Student(id=3, name=chandu, marks=33.33),
 Student(id=4, name=david, marks=44.44),
 Student(id=5, name=eswar, marks=55.55)]

In [204]:
content = ",\n".join([str(student.__dict__) for student in students_list])

In [205]:
content

"{'id': 1, 'name': 'anil', 'marks': 11.11},\n{'id': 2, 'name': 'bharath', 'marks': 22.22},\n{'id': 3, 'name': 'chandu', 'marks': 33.33},\n{'id': 4, 'name': 'david', 'marks': 44.44},\n{'id': 5, 'name': 'eswar', 'marks': 55.55}"

In [206]:
with open(target_json_file, mode="w") as f:
        f.write(content)

In [180]:
with open(target_json_file, mode="r") as f:
    content = f.read()

In [181]:
content

"{'id': 1, 'name': 'anil', 'marks': 11.11}{'id': 2, 'name': 'bharath', 'marks': 22.22}{'id': 3, 'name': 'chandu', 'marks': 33.33}{'id': 4, 'name': 'david', 'marks': 44.44}{'id': 5, 'name': 'eswar', 'marks': 55.55}"

In [207]:
import json

In [209]:
with open(target_json_file, mode="r") as fp: 
    students_dict = json.load(fp)

In [210]:
type(students_dict)

dict

In [213]:
students_list = students_dict["students"]

In [215]:
for student in students_list: 
    print(student)

{'id': 1, 'name': 'anil', 'marks': 11.11}
{'id': 2, 'name': 'bharath', 'marks': 22.22}
{'id': 3, 'name': 'chandu', 'marks': 33.33}
{'id': 4, 'name': 'david', 'marks': 44.44}
{'id': 5, 'name': 'eswar', 'marks': 55.55}

In [216]:
record = {'id': 1, 'name': 'anil', 'marks': 11.11}

In [222]:
header = ",".join(list(students_list[0].keys()))

In [223]:
header

'id,name,marks'

In [229]:
records = [f"{student["id"]},{student["name"]},{student["marks"]}" for student in students_list]

In [230]:
data = [header] + records

In [231]:
data

['id,name,marks',
 '1,anil,11.11',
 '2,bharath,22.22',
 '3,chandu,33.33',
 '4,david,44.44',
 '5,eswar,55.55']

In [232]:
final_data = "\n".join(data)

In [233]:
final_data

'id,name,marks\n1,anil,11.11\n2,bharath,22.22\n3,chandu,33.33\n4,david,44.44\n5,eswar,55.55'

In [234]:
target_csv_file = "D:/work/python/data/students.csv"

In [235]:
with open(target_csv_file, mode="w") as fp:
    fp.write(final_data)