In [1]:
list()

[]

In [2]:
mist()

NameError: name 'mist' is not defined

In [3]:
Student()

NameError: name 'Student' is not defined

In [8]:
if 10 > 5:
   pass
else: 
   print("not valid")

In [9]:
class Student:

_IncompleteInputError: incomplete input (3608864750.py, line 1)

In [11]:
# empty class Student
class Student:
    pass

In [16]:
s1 = Student()

In [17]:
s2 = Student()

In [18]:
s3 = Student()

In [19]:
s4 = Student()

In [ ]:
# 1	anusha	99
# 2	naveen	98
# 3	gowtham	100
# 4	pavan	97

In [21]:
s1

In [22]:
s1.id = 1
s1.name = "anusha"
s1.marks = 98

In [23]:
s1

In [24]:
s2

In [25]:
s2.id = 2
s2.name = "naveen"
s2.marks = 98

In [26]:
s2

In [27]:
s3.id = 3
s3.name = "gowtham"
s3.marks = 100

In [28]:
s4.id = 4
s4.name = "pavan"
s4.marks = 97

In [ ]:
# class Student -> Student() s1, s2, s3, s4 -> added attributes and values in s1, s2, s3, s4

In [38]:
students_list_1 = list()
students_list_1.append(s1)
students_list_1.append(s2)
students_list_1.append(s3)
students_list_1.append(s4)

In [39]:
students_list_2 = [s1, s2, s3, s4]

In [40]:
for student in students_list_1:
    print(student)

<__main__.Student object at 0x0000023551CE82B0>
<__main__.Student object at 0x00000235516AE450>
<__main__.Student object at 0x000002355151FAC0>
<__main__.Student object at 0x000002355151F680>

In [42]:
for student in students_list_2:
    print(student)

<__main__.Student object at 0x0000023551CE82B0>
<__main__.Student object at 0x00000235516AE450>
<__main__.Student object at 0x000002355151FAC0>
<__main__.Student object at 0x000002355151F680>

In [43]:
for student in students_list_1:
    print(f"{student.id}, {student.name}, {student.marks},{student}")

1, anusha, 98,<__main__.Student object at 0x0000023551CE82B0>
2, naveen, 98,<__main__.Student object at 0x00000235516AE450>
3, gowtham, 100,<__main__.Student object at 0x000002355151FAC0>
4, pavan, 97,<__main__.Student object at 0x000002355151F680>

In [44]:
for student in students_list_2:
    print(f"{student.id}, {student.name}, {student.marks},{student}")

1, anusha, 98,<__main__.Student object at 0x0000023551CE82B0>
2, naveen, 98,<__main__.Student object at 0x00000235516AE450>
3, gowtham, 100,<__main__.Student object at 0x000002355151FAC0>
4, pavan, 97,<__main__.Student object at 0x000002355151F680>

In [45]:
s2.marks = 99

In [46]:
print(s2)

<__main__.Student object at 0x00000235516AE450>

In [47]:
print(s2.marks)

99

In [48]:
for student in students_list_1:
    print(f"{student.id}, {student.name}, {student.marks}, {student}")

1, anusha, 98,<__main__.Student object at 0x0000023551CE82B0>
2, naveen, 99,<__main__.Student object at 0x00000235516AE450>
3, gowtham, 100,<__main__.Student object at 0x000002355151FAC0>
4, pavan, 97,<__main__.Student object at 0x000002355151F680>

In [49]:
s2.section = "C"

In [50]:
print(s2.section)

C

In [51]:
s3.__dict__

{'id': 3, 'name': 'gowtham', 'marks': 100}

In [52]:
s2.__dict__

{'id': 2, 'name': 'naveen', 'marks': 99, 'section': 'C'}

In [53]:
s1.__dict__

{'id': 1, 'name': 'anusha', 'marks': 98}

In [54]:
s4.__dict__

{'id': 4, 'name': 'pavan', 'marks': 97}

In [55]:
s2.section

'C'

In [56]:
s3.section

AttributeError: 'Student' object has no attribute 'section'

In [57]:
s3.section = None

In [58]:
print(s3.section)

None

In [59]:
s1.__dict__

{'id': 1, 'name': 'anusha', 'marks': 98}

In [60]:
s2.__dict__

{'id': 2, 'name': 'naveen', 'marks': 99, 'section': 'C'}

In [61]:
s3.__dict__

{'id': 3, 'name': 'gowtham', 'marks': 100, 'section': None}

In [62]:
s1.section

AttributeError: 'Student' object has no attribute 'section'

In [64]:
class Student:
	pass

In [66]:
s1 = Student(1, "anusha", 98)

TypeError: Student() takes no arguments

In [65]:
s1 = Student(id=1, name="anusha", marks=98)

TypeError: Student() takes no arguments

In [86]:
class Student:
   def __init__(self):
       print("init method called while constructing object")
       self.id = 1
       self.name = "anusha"
       self.marks = 98
       print(self)
       print(self.id)
       print(self.name)
       print(self.marks)

In [87]:
s = Student()

init method called while constructing object
<__main__.Student object at 0x0000023551692A50>
1
anusha
98

In [89]:
class Student:
   def __init__(self):
       print("init method called while constructing object")
       self.id = 1
       self.name = "anusha"
       self.marks = 98

In [91]:
s1 = Student()

init method called while constructing object

In [92]:
s1.__dict__

{'id': 1, 'name': 'anusha', 'marks': 98}

In [93]:
s2 = Student()

init method called while constructing object

In [94]:
s2.__dict__

{'id': 1, 'name': 'anusha', 'marks': 98}

In [96]:
class Student:
   def __init__(self, x, y, z):
       print("init method called while constructing object")
       self.id = x
       self.name = y
       self.marks = z

In [100]:
s1 = Student(1, "anusha", 98)

init method called while constructing object

In [103]:
s2 = Student(2, "naveen", 99)
s3 = Student(3, "gowtham", 100)
s4 = Student(4, "pavan", 97)

init method called while constructing object
init method called while constructing object
init method called while constructing object

In [104]:
students_list = [s1, s2, s3, s4]

In [105]:
for s in students_list:
    print(s)

<__main__.Student object at 0x0000023551511BD0>
<__main__.Student object at 0x0000023551512990>
<__main__.Student object at 0x0000023551637A80>
<__main__.Student object at 0x0000023551637CE0>

In [147]:
class Student:

    # __init__ for costructing the object and initializing the attributes of the object 
    def __init__(self, x, y, z):
       self.id = x
       self.name = y
       self.marks = z

    # string representation of the object
    # def __str__(self):
    #     return f"id={self.id}, name={self.name}, marks={self.marks}"

In [141]:
s1=Student(1, "anusha", 99)

In [142]:
print(s1)

id=1, name=anusha, marks=99

In [143]:
print(s1)

id=1, name=anusha, marks=99

In [148]:
s1 = Student(1, "anusha", 99)
s2 = Student(2, "naveen", 98)
s3 = Student(3, "gowtham", 100)
s4 = Student(4, "pavan", 97)
s5 = Student(5, "jaggu", 80)
s6 = Student(6, "hemu", 100)

In [149]:
students = [s1, s2, s3, s4, s5, s6]

In [150]:
for std in students:
    print(std)

<__main__.Student object at 0x0000023551692BA0>
<__main__.Student object at 0x0000023551513110>
<__main__.Student object at 0x0000023551513750>
<__main__.Student object at 0x0000023551CEA8B0>
<__main__.Student object at 0x0000023551CEA780>
<__main__.Student object at 0x0000023551E68170>

In [170]:
class Student:
    
    # __init__ for costructing the object and initializing the attributes of the object 
    def __init__(self, x, y, z):
       self.id = x
       self.name = y
       self.marks = z

    # string representation of the object
    def __str__(self):
        return f"100"

s1 = Student(1, "anusha", 99)
s2 = Student(2, "naveen", 98)
s3 = Student(3, "gowtham", 100)
s4 = Student(4, "pavan", 97)
s5 = Student(5, "jaggu", 80)
s6 = Student(6, "hemu", 100)

students = [s1, s2, s3, s4, s5, s6]

for std in students:
    print(std)

100
100
100
100
100
100

In [171]:
class Student:
    
    # __init__ for costructing the object and initializing the attributes of the object 
    def __init__(self, x, y):
       self.id = x
       self.name = y
       self.marks = z

    # string representation of the object
    def __str__(self):
        return f"id={self.id}, name={self.name}, marks={self.marks}"

s1 = Student(1, "anusha", 99)
s2 = Student(2, "naveen", 98)
s3 = Student(3, "gowtham", 100)
s4 = Student(4, "pavan", 97)
s5 = Student(5, "jaggu", 80)
s6 = Student(6, "hemu", 100)

students = [s1, s2, s3, s4, s5, s6]

for std in students:
    print(std)

TypeError: Student.__init__() takes 3 positional arguments but 4 were given

In [173]:
class Student:
    pass

In [174]:
s1 = Student()

In [175]:
print(s1)

<__main__.Student object at 0x0000023551E3CC20>

In [188]:
class Student:
    def __init__(self, x, y):
        self.id1 = x
        self.id2 = y
        print("init is called")

In [189]:
s1 = Student(10, 20)
print(s1)
print(s1.id1)
print(s1.id2)

init is called
<__main__.Student object at 0x0000023551693770>
10
20