In [0]:
select * from employee;


-- FINDING EMPLOYEE RECORD WITH MAX SALARY
select MAX(salary) from employee; -- 92500

select * from employee where salary = 92500;
select * from employee where salary = (select MAX(salary) from employee) ;
select * from employee where salary IN (select MAX(salary) from employee) ;

-- select * from employee where salary IN (92500, 80000);
-- select * from employee where salary between 80000 and 92500;
-- select * from employee where salary >= 80000 and salary <=92500;

-- WHAT IS THE HIGHEST SALARY 

select MAX(salary) from employee; -- 92500 

-- WHAT IS SECOND HIGHEST SALARY 

select * from employee order by salary desc;
select MAX(salary) from employee; -- 92500 
select MAX(salary) from employee where salary < 92500;
select MAX(salary) from employee where salary < (select MAX(salary) from employee);

-- THIRD HIGHEST SALARY ?

-- ANALYTICAL FUNCTIONS / Window functions
-- SYNTAX 
SELECT 
  id, 
  name, 
  salary, 
  dept_id,
  ROW_NUMBER() OVER(ORDER BY salary ASC) AS row_number,
  RANK() OVER(ORDER BY salary ASC) AS rank,
  DENSE_RANK() OVER(ORDER BY salary ASC) AS dense_rank
FROM employee;




-- Find the employee record with 3rd highest salary 

select * from employee;
select id, name, salary, dept_id from employee;

select emp_id from 
(
select id as emp_id, name, salary, dept_id from employee 
)
where emp_id = 10;

describe employee;
-- id
-- name
-- salary
-- dept_id

select 
  id, name, salary, dept_id
from 
(select 
    id, name, salary, dept_id,
    dense_rank() over(order by salary desc) as d_rank
  from employee
) where d_rank = 3;


select 
  name, salary 
from 
(select 
    id, name, salary, dept_id,
    dense_rank() over(order by salary desc) as d_rank
  from employee
) where d_rank = 5;




select 
  name, salary 
from 
(select 
    id, name, salary, dept_id,
    dense_rank() over(order by salary asc) as d_rank
  from employee
) where d_rank = 2;

----------------

select * from emp;

select gender, MAX(salary) as max_sal, MIN(salary) as min_sal from emp
group by gender ;
--having gender='M';

select name, dept_id, salary 
from
(
select 
  *, 
  dense_rank() over(partition by dept_id order by salary desc) as dr 
from emp
where dept_id = 'HR'
)
where dr=3;

select name, dept_id, salary 
from
(
select 
  *, 
  dense_rank() over(partition by dept_id order by salary asc) as dr 
from emp
where dept_id = 'IT'
)
where dr=2;


-- what is the name of the female employee with 4 th lowest salary 
select 
	id, name, salary, gender, dept_id, created_at,
	DENSE_RANK() OVER(PARTITION BY DEPT_ID, GENDER ORDER BY SALARY ASC) AS d_rank
from emp ;

select name 
from 
(
select 
	id, name, salary, gender, dept_id, created_at,
	DENSE_RANK() OVER(PARTITION BY GENDER ORDER BY SALARY ASC) AS d_rank
from emp where gender = 'F'
) 
where d_rank = 4;

desc  emp;

insert into emp select 
id,
name,
salary,
age,
gender,
dept_id,
current_timestamp() as created_at
from emp where id = 0;

select * from emp order by id ;
select distinct * from emp order by id ;


select
*, 
dense_rank() over(partition by id order by created_at desc) as dr
 from emp;